{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row mb-5 mt-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">A propos</b></h2>
        </div>
        <div class="card border-light mb-3 bg-pink">
            <div class="row card-body text-dark">
                <div class="col-md-3 border-right">
                    <img class="img-thumbnail bg-black mb-3" src="assets/images/cv.jpg">
                    <p class="mb-3"><img class="mr-2" src="assets/images/placeholder.png">Lyon - Villefranche sur Saône</p>
                    <p class="mb-3"><img class="mr-2" src="assets/images/envelope.png">aurelien.roche1@laposte.net</p>
                    <a target="_blank" href="https://github.com/roche426"><img class="logo mr-3" src="assets/images/github-logo.png"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/aurelien-roche-573211ab/"><img class="logo mr-3" src="assets/images/linkedin.png"></a>
                    <a target="_blank" href="https://www.strava.com/athletes/19952858"><img class="logo" src="assets/images/strava.png"></a><br>
                    <a class="btn btn-dark bg-black mt-3" href="/contact">
                        <img class="mr-2" src="assets/images/portfolio.png"><b class="font-weight-bold">A l'écoute</b>
                    </a>
                </div>
                <div class="col-md-9 card-text text-justify mt-3">
                    <p> Je suis <b class="font-weight-bold">Aurélien</b>, j'ai 25 ans et je suis originaire du Haut Beaujolais. Après
                        <b class="font-weight-bold">des études en Commerce et Management</b>, j'ai décidé de m'orienter
                        dans le <b class="font-weight-bold">Développement Web</b>.
                    </p>
                    <p> J'ai choisi cette orientation par <b class="font-weight-bold">la liberté de création qu'offre la programmation </b>
                        mais aussi pour <b class="font-weight-bold">mettre en oeuvre des projets plus personnels.</b></p>
                    <p>Aujourd'hui, le <b class="font-weight-bold">développement web</b> est devenu mon métier dont mes
                        compétences sont présentées sur ce site. <b class="font-weight-bold">Je suis actuellement en poste dans la
                        société de services <a class="text-success" target="_blank" href="https://astekgroup.fr/">ASTEK.</a></b>
                    </p>
                    <p>Et enfin, je suis un <b class="font-weight-bold">grand passionné de sport</b> notamment de <b class="font-weight-bold">course à pied.</b></p>
                    <h3 class="text-center mt-5 mb-3">Quelques mots sur ma personnalité!</h3>
                    <h4 class="text-center">
                        <span class="badge badge-secondary m-2 bg-black">Réfléchi</span>
                        <span class="badge badge-secondary m-2 bg-black">Organisé</span>
                        <span class="badge badge-secondary m-2 bg-black">Rigoureux</span>
                        <span class="badge badge-secondary m-2 bg-black">Curieux</span>
                        <span class="badge badge-secondary m-2 bg-black">Travailleur</span>
                        <span class="badge badge-secondary m-2 bg-black">Calme</span>
                        <span class="badge badge-secondary m-2 bg-black">Positif</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">Compétences</b></h2>
        </div>
        <div class="card border-light mb-3 bg-pink">
            <div class="row card-body text-dark">
                <div class="col-md-6 border-right">
                    <h3><span class="badge badge-secondary m-4 bg-black">Technologies</span></h3>
                    <img class="mr-1 mb-3" src="assets/images/css.png">
                    <img class="mr-1 mb-3" src="assets/images/html.png">
                    <img class="mr-1 mb-3" src="assets/images/php.png">
                    <img class="mr-1 mb-3" src="assets/images/bootstrap.png">
                    <img class="mr-1 mb-3" src="assets/images/symfony.png">
                    <img class="mr-1 mb-3" src="assets/images/jquery.png">
                    <img class="mr-1 mb-3" src="assets/images/git.png">
                    <img class="mr-1 mb-3" src="assets/images/mysql.png">
                    <img class="mr-1 mb-3" src="assets/images/phpstorm.png">
                </div>
                <div class="col-md-6">
                    <h3><span class="badge badge-secondary m-4 bg-black">Méthodes de travail</span></h3>
                    <p> Capable de travailler en <b class="font-weight-bold">agilité (SCRUM)</b> : plannification de sprint,
                        gestion du backlog, Daily, démonstration fin de spint.
                    </p>
                    <p> Ecrire du code proprement via les <b class="font-weight-bold">normes de codage (PSR).</b></p>
                    <p> Utiliser la documentation et la comprendre en anglais.</p>
                    <p><b class="font-weight-bold">Et toujours travailler dans la bonne humeur!!</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">Projets</b></h2>
        </div>
        <div class="card border-light mb-3 bg-pink">
            <div class="row card-body text-dark">
                <div class="col-md-3 border-right">
                    <img class="img-site img-fluid" src="assets/images/mafonciereSite.png">
                    <p class="font-italic text-primary">En production</p>
                </div>
                <div class="col-md-6 border-right text-justify">
                    <p> Développement d'une <b class="font-weight-bold">plateforme de gestion immobilière collaborative pour mettre en relation des propritaires.</b></p>
                    <p> Equipe de 5 développeurs juniors fonctinnant sous la <b class="font-weight-bold">méthode SCRUM.</b></p>
                    <p> Utilisation du <b class="font-weight-bold">Bundle Sonata Admin</b> pour l'administration du site.</p>
                    <p> Création d’un site vitrine, d’un espace utilisateur et d’une administration.</p>
                    <p> Fonctionnalités de <b class="font-weight-bold">mise en relation des utilisateurs, upload de documents, GED,
                        commandes pour l’automatisation de tâches avec le CRON.</b>
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b class="font-weight-bold">HTML, CSS, Symfony 3.4, Bootstrap 4, Jquery, GIT</b></p>
                    <img class="logo-company mt-2" src="assets/images/logo-mafonciere.png"><br>
                    <a class="btn btn-dark bg-black mt-3" target="_blank" href="http://www.mafonciere.com/">Accéder au site</a>
                </div>
            </div>
            <hr>
            <div class="row card-body text-dark">
                <div class="col-md-3 border-right">
                    <img class="img-site img-fluid" src="assets/images/FGPRSite.png">
                    <p class="font-italic text-danger">En développement</p>
                </div>
                <div class="col-md-6 border-right text-justify">
                    <p> Développement d'un <b class="font-weight-bold">site communautaire pour les adhérents d'une association de gardes particuliers.</b></p>
                    <p> Projet développé par moi-même.</p>
                    <p> Création d’un site vitrine, d’un espace utilisateur et d’une administration.</p>
                    <p> Utilisation du <b class="font-weight-bold">WYSIWIG Froala pour la création d'articles, upload de documents, GED,
                        galerie d'images, commandes pour l’automatisation de tâches avec le CRON et envoyer des mails depuis l'administration.</b>
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b class="font-weight-bold">HTML, CSS, Symfony 3.4, Bootstrap 4, Jquery, Ajax, GIT</b></p>
                    <img class="logo-company mt-2" src="assets/images/logoFGPR.jpg"><br>
                    <a class="btn btn-dark bg-black mt-3" target="_blank" href="https://github.com/roche426/FGC-Rhone">Code source</a>
                </div>
            </div>
            <hr>
            <div class="row card-body text-dark">
                <div class="col-md-3 border-right">
                    <img class="img-site img-fluid" src="assets/images/bugCookerSite.png">
                    <p class="font-italic text-info">Projet fictif</p>
                </div>
                <div class="col-md-6 border-right">
                    <p>Développement d'un <b class="font-weight-bold">site vitrine responsive</b> pour un restaurant.</p>
                    <p>Equipe de 4 développeurs juniors fonctinnant sous la <b class="font-weight-bold">méthode SCRUM.</b></p>
                    <p>Création d'une page concept, menu et contact.</p>
                </div>
                <div class="col-md-3">
                    <p><b class="font-weight-bold">HTML, CSS, Bootstrap 3, GIT</b></p>
                    <img class="logo-company mt-2" src="assets/images/logoBC.png"><br>
                    <a class="btn btn-dark bg-black mt-3" target="_blank" href="https://github.com/roche426/Bug-Cooker">Code source</a>
                </div>
            </div>
            <hr>
            <div class="row card-body text-dark">
                <div class="col-md-3">
                <h2><img src="assets/images/clown.png"><span class="badge badge-secondary m-2 bg-black">LE PETIT BONUS</span></h2>
                </div>
                <div class="col-md-6">
                    <p>Voici mes <b class="font-weight-bold">premiers pas dans le web</b> avec ce jolie site créé dans le cadre de mon
                            <b class="font-weight-bold"> admission dans mon école de codage et je l'adore!</b><br>
                            <b class="font-weight-bold">(Attention : à visualiser OBLIGATOIREMENT avec le son :))</b>
                        </p>
                </div>
                <div class="col-md-3">
                        <a href="https://codepen.io/roche426/pen/baaaVz" target="_blank"><img class="logo-company"
                          src="https://thumbs.gfycat.com/ClumsyHalfBarasinga-size_restricted.gif">
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">Formations</b></h2>
        </div>
        <div class="card border-light mb-3 bg-pink">
            <div class="row card-body text-dark">
                <div class="col-xl-2 col-md-3 mx-3">
                    <img class="logo-company img-fluid mt-2" src="assets/images/wcs.jpg">
                    <h4><b class="font-weight-bold">Développeur<br>PHP</b></h4>
                    <p> Juillet 2018 </p>
                </div>
                <div class="col-xl-2 col-md-3 mx-4">
                    <img class="logo-company img-fluid mt-2" src="assets/images/iae.jpeg">
                    <h4><b class="font-weight-bold"> Master 2 <br>MDRS </b></h4>
                    <p>2016</p>
                </div>
                <div class="col-xl-2 col-md-3 mx-4">
                    <img class="logo-company img-fluid mt-2" src="assets/images/iae.jpeg">
                    <h4><b class="font-weight-bold"> Master 1 <br> MARKETING </b></h4>
                    <p>2015</p>
                </div>
                <div class="col-xl-2 col-md-3 mx-4">
                    <img class="logo-company img-fluid mt-2" src="assets/images/dueti.png">
                    <h4><b class="font-weight-bold">D.U.E.T.I <br> ESPAGNE </b></h4>
                    <p>2014 </p>
                </div>
                <div class="col-xl-2 col-md-3 ">
                    <img class="logo-company img-fluid mt-2 mx-4" src="assets/images/dut.jpg">
                    <h4 class="ml-3"><b class="font-weight-bold"> D.U.T <br> TC </b></h4>
                    <p class="ml-3">2013 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">Expériences commerciales</b></h2>
        </div>
        <div class="card border-light mb-3 bg-pink">
            <div class="row card-body text-dark">
                <div class="col-xl-3 col-md-6 border-right">
                    <img class="logo-company mt-2 img-fluid" src="assets/images/ca.jpg">
                    <h3><b class="font-weight-bold">Technicien de Crédits</b></h3>
                    <i>Avril à décembre 2017</i>
                    <div class="text-justify mt-3">
                        <p> Gérer les remboursements anticipés de crédits et effectuer les mainlevées de garanties.</p>
                        <p> Contrôler et rédiger les offres de prêt.</p>
                        <p> Assurer le suivi des offres de prêt jusqu’à la réalisation du crédit.</p>
                        <p> Mettre en place les crédits en ligne et assurer le déblocage des fonds.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 border-right">
                    <img class="logo-company mt-2 img-fluid" src="assets/images/o2.jpg">
                    <h3><b class="font-weight-bold">Responsable de Secteur</b></h3>
                    <i>Avril à septembre 2016</i>
                    <div class="text-justify mt-3">
                        <p> Vente et mise en place de prestations de services.</p>
                        <p> Gérer et optimiser les plannings des salariés pour proposer des remplacements aux clients.</p>
                        <p> Proposer des solutions pour optimiser le fonctionnement des agences du réseau.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 border-right">
                    <img class="logo-company mt-2 img-fluid" src="assets/images/o2.jpg">
                    <h3><b class="font-weight-bold">Commercial en agence</b></h3>
                    <i>Avril à août 2015</i>
                    <div class="text-justify mt-3">
                        <p>Prospecter et développer un réseau de prescripteurs afin de communiquer sur nos services.</p>
                        <p>Suivre la satisfaction des clients et des salariés.</p>
                        <p>Répondre aux demandes des clients et des salariés.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 border-right">
                    <img class="logo-company mt-2 img-fluid" src="assets/images/cm.jpg">
                    <h3><b class="font-weight-bold">Commercial en agence</b></h3>
                    <i>Avril à août 2013</i>
                    <div class="text-justify mt-3">
                        <p> Vente des produits téléphoniques aux clients à l’accueil de l’agence.</p>
                        <p> Réaliser les opérations bancaires courantes et gestion du coffre.</p>
                        <p> Phoning pour vendre des produits bancaires.</p>
                        <p> Accueillir et répondre aux demandes des clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


