body{
    background-color: #efeff0;
}

header{
    background-color: black;
    border-bottom: solid 5px #dfb100;
    color: #dfb100;
}

.section-title{
    background-color: black;
    border-bottom: solid 5px #dfb100;
}

.section-title > h2{
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black;
}

.bg-black{
    background-color: black;
    color: #dfb100;
}


.logo:hover{
    opacity: 0.5;
}

.img-site{
    height: 200px;
    width: 250px;
}

.logo-company{
    height: 100px;
    width: 150px;
}

.font-italic{
    font-size: 12px;
}

.menu a{
    color: lightgray;
    text-decoration: none;
}

.menu h4:hover, .active{
    color: #dfb100;
    border-bottom: 10px solid #dfb100;
}

.row{
    margin-right: 0;
    margin-left: 0;
}


